.background {
    align-items: center;
    text-align: center;
    display: flex;
    background-image: url(../../../../../assets/images/background.png);
    background-size: cover;
    height: 100vh;


    .containerLogin {
        margin: 0 auto;
        width: 480px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 8px;


        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h4 {
                font-size: 20pt;
                margin-top: 65px;
            }

            p {
                margin: 30px 0;
            }

            input {
                width: 400px;
            }

            button {
                margin-top: 20px;
                width: 200px;
            }

        }
    }

    .alert-danger {
        width: 480px;
        align-items: center;
        text-align: center;
        display: flex;
        margin-top: 5%;
    }

    .btnClose {
        position: relative;
        left: 40px;
        font-weight: 600;
        font-size: 16pt;
        align-content: left;
        background: none;
        border: none;
        color: rgb(179, 80, 80);
    }
}

.goToLogin {
    margin: 40px;
    font-size: 14pt;

    a {
        color: #e50914;
        font-weight: 600;
    }
}